<h1>Welcome to Mario's Specialty Foods!</h1>

<div id="about">
  <p>Here at Mario's, we believe that food is more than just something to eat. It's a way to connect with the world around you, and it can make any day better!</p>

  <p>We want to be part of your community and help you celebrate the best parts of life—with great food. We're devoted to providing our customers with only the highest quality foods, so that you can be confident about what you're eating and sharing with your friends and family.</p>

  <p>Our motto is: "Food is love." And we hope you'll love it too!</p>
</div>

<%= link_to 'View all products', 'products#index' %>

<h2>Recently added products:</h2>
<% if @products.any? %>
  <ol>
    <% @three_recent.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ol>
<% else %>
  <p>There are no products yet.</p>
<% end %>

<h3>Made in the USA:</h3>
<% if @usa.any? %>
  <ul>
    <% @usa.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>We don't currently have any products made in the USA.</p>
<% end %>

<h4>Products with the most reviews:</h4>
<% if @most_reviews.any? %>
  <ul>
    <% @most_reviews.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no reviewed products yet.</p>
<% end %>
