//  *
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
//  * vendor/assets/stylesheets directory can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
//  * files in this directory. Styles in this file should be added after the last require_* statement.
//  * It is generally better to create a new file per style scope.

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

nav {
  height: 8vh;
  background-color: rgb(205, 205, 205);
  font-family: copperplate;
}

nav li {
  list-style-type: none;
  padding-right: 5vw;
  align-content: center;
  padding-top: 2.5vh;
}

nav .navbar-brand{
  font-size: 40;
  padding-top: 2.5vh;
}

#user_auth {
  padding-left: 50vw;
  padding-right: 0vw;
}

body {
  margin-left: 2vw;
  background-color: rgb(184, 234, 251);
}

#about {
  margin-right: 30vw;
}

.reviews {
  border-style: solid;
  margin-top: 10px;
}